<div *ngIf="prefs$ | async; let prefs">
  <label>
    <input type="checkbox" (change)="setShowComplete(!prefs.showComplete)" [checked]="prefs.showComplete" />
    Show Completed Tasks
  </label>
</div>
<ng-container *ngIf="tasks$ | async; let tasks">
  <table *ngIf="tasks.length" class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks" app-task-list-item [task]="task"></tr>
    </tbody>
  </table>
</ng-container>
