<ng-container [formGroup]="editForm">
  <td>
    <button *ngIf="!task.complete && !editMode" type="button" class="btn btn-success" (click)="markComplete()">✓</button>
    <button *ngIf="task.complete && !editMode" type="button" class="btn btn-warning" (click)="markIncomplete()">!</button>
    <button *ngIf="!editMode" type="button" class="btn btn-outline-warning" (click)="startEdit()">✎</button>
  </td>
  <ng-container *ngIf="editMode">
    <td class="task-content">
      <input type="text" formControlName="title" #title>
      <div class="alert alert-danger" *ngIf="editForm.controls.title.invalid && (editForm.controls.title.dirty || editForm.controls.title.touched)">Title is required</div>
    </td>
    <td class="task-content">
      <input type="text" formControlName="description">
    </td>
  </ng-container>
  <ng-container *ngIf="!editMode">
    <td class="task-content">
      <a [routerLink]="[TASK_DETAIL_ROOT_PATH, task.id]">{{ task.title }}</a>
    </td>
    <td class="task-content">
      {{ task.description }}
    </td>
  </ng-container>
  <td>
    <button *ngIf="!editMode" type="button" class="btn btn-danger" (click)="delete()">&times;</button>
    <button *ngIf="editMode" type="button" class="btn btn-outline-secondary" (click)="cancelEdit()">∅</button>
    <button *ngIf="editMode" type="button" class="btn btn-success" (click)="completeEdit()">💾</button>
  </td>
</ng-container>
