<nav>
  <ol class="breadcrumb">
    <li>&gt;</li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/']">Tasks</a>
    </li>
  </ol>
</nav>

<div class="card" *ngIf="task$ |async; let task">

  <div class="card-header">
    <h2 class="card-title">{{ task.title }}</h2>
    <p class="card-text" *ngIf="task.description">{{ task.description }}</p>
  </div>

  <div class="card-body">
    <h3>Task History</h3>
    <table *ngIf="history$ | async; let history" class="table table-striped">
      <thead>
      <tr>
        <th>Date</th>
        <th>Action</th>
        <th>Changes</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let entry of history">
        <td>{{ entry.ts | date:'medium' }}</td>
        <td>{{ entry.action }}</td>
        <td><pre><code>{{ entry.change | cleanChanges | json }}</code></pre></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
